:root {
  --primary-pink: #C4026E;
  --light-pink: #f8d7e2;
  --text-dark: #333;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e5c4cc;
    display: none; /* Masquer par défaut */
    transition: opacity 0.3s;
}

.footer-container.show {
    display: block;
    opacity: 1;
}

h2{ 
  color: #C4026E; 
} 
#form { 
  text-align: center; 
  position: relative; 
  margin-top: 20px
} 

#form fieldset { 
  background: white; 
  border: 0 none; 
  border-radius: 0.5rem; 
  box-sizing: border-box; 
  width: 100%; 
  margin: 0; 
  padding-bottom: 20px; 
  position: relative
} 

.finish { 
  text-align: center
} 

#form fieldset:not(:first-of-type) { 
  display: none
} 

#form .previous-step, .next-step { 
  width: 100px; 
  font-weight: bold; 
  color: white; 
  border: 0 none; 
  border-radius: 0px; 
  cursor: pointer; 
  padding: 10px 5px; 
  margin: 10px 5px 10px 0px; 
  float: right
} 

.form, .previous-step { 
  background: #616161; 
} 

.form, .next-step { 
  background: #C4026E; 
} 

#form .previous-step:hover, 
#form .previous-step:focus { 
  background-color: #000000
} 

#form .next-step:hover, 
#form .next-step:focus { 
  background-color: #C4026E
} 

.text { 
  color: #C4026E; 
  font-weight: normal
} 


.text-pink {
  color: var(--primary-pink);
}

h3, h4 {
  font-weight: 600;
}

h3.text-uppercase, h4.text-uppercase {
  border-bottom: 2px solid var(--primary-pink);
  display: inline-block;
  padding-bottom: 5px;
}

.progressbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 30px 0;
}

.progressbar::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 0;
  right: 4%;
  height: 2px;
  background-color: #ddd;
  z-index: 1;
  transform: translateY(-50%);
}

.progress-step {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-step .step-circle {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.progress-step.active .step-circle {
  background-color: #d21871; /* Couleur active */
}

.progress-step.active .step-label {
  color: #d21871;
  font-weight: bold;
}

.progress-step.completed .step-circle {
  background-color: #d21871; /* Couleur complétée */
}

.progress-step.completed::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -50%;
  width: 100%;
  height: 2px;
  background-color: #d21871;
  z-index: 1;
}

.step-label {
  margin-top: 8px;
  color: #ddd;
  font-size: 14px;
}

.table th, .table td {
  border: none;
}

.btn-pink {
  background: var(--primary-pink);
  color: #fff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}

.btn-pink:hover {
  background: var(--text-dark);
}

.select-style {
  width: 60px;
  margin-right: 15px;
}



@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
      display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }
  
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-start,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
    /* transition-duration: 10s; */
  }
  
  /* display 4 */
  @media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
      transform: translateX(25%) !important;
    }
  
    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
    }
  
    .carousel-item-next.carousel-item-start, .active.carousel-item-end {
      transform: translateX(0) !important;
    }
  
    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
    }
  }
